{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'partials/auth_header.html' %}
<main style="margin-top: calc(2rem + 85px);">
    <section>
        <div class="container">
            <div class="card p-3 mb-5 foodplan__shadow">
                <a href="#" class="link-secondary fw-light foodplan__backButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9%" height="9%" fill="currentColor" class="bi bi-arrow-left-circle"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg>
                </a>
                <h2 class="text-center"><strong>Авторизация</strong></h2>
            </div>
            <div class="card px-5 py-3 d-flex align-items-center foodplan__shadow">
                <form method="POST" action="">
                    {% csrf_token %}
                    <h1 class="mb-4 text-center"><strong>Регистрация</strong></h1>

                    <!-- Общие ошибки формы -->
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="mb-3">
                        <label for="username" class="form-label">Имя</label>
                        <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}"
                               id="username" name="username"
                               value="{% if form.username.value %}{{ form.username.value }}{% endif %}" required>
                        <!-- Ошибки для поля username -->
                        {% if form.username.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                               id="email" name="email"
                               value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                               aria-describedby="emailHelp" required>
                        <!-- Ошибки для поля email -->
                        {% if form.email.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="password1" class="form-label">Пароль</label>
                        <input type="password" class="form-control {% if form.password1.errors %}is-invalid{% endif %}"
                               id="password1" name="password1" required>
                        <!-- Ошибки для поля password1 -->
                        {% if form.password1.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.password1.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Подтверждение пароля</label>
                        <input type="password" class="form-control {% if form.password2.errors %}is-invalid{% endif %}"
                               id="password2" name="password2" required>
                        <!-- Ошибки для поля password2 -->
                        {% if form.password2.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.password2.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-sm-6 mt-3">
                            <button type="submit" class="btn  shadow-nonew-100 btn-outline-success foodplan_green foodplan__border_green">Регистрация</button>
                        </div>
                        <div class="col-12 col-sm-6 mt-3 d-flex justify-content-center align-items-center">
                            <small>Уже есть аккаунт? <a href="{% url 'login' %}" class="link-dark foodplan_green">Войти</a></small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% include 'partials/footer.html' %}
{% endblock %}